// Externals

// Setup
@import './setup/variables';

// Basics
@import 'basics/animations';
@import 'basics/base';
@import 'basics/typography';

// Pages

@import './pages/home-page';
@import './pages/main-page';

// Components
@import './cmps/header-cmp';
@import './cmps/board-cmp';
@import './cmps/promotion-choice';

.temp-nav {
  position: fixed;
  color: black;
  background-color: lightyellow;
  right: 0;
  bottom: 0;
}

.pre {
  color: white;
  position: fixed;
  left: 0;
}
