// Externals

// Setup
@import './setup/variables';

// Basics
@import 'basics/animations';
@import 'basics/base';
@import 'basics/typography';

// Pages
@import './pages/home-page';
@import './pages/main-page';
@import './pages/sign-in-page';
@import './pages/sign-up-page';

// Cmps
@import './cmps/header-cmp';
@import './cmps/board-cmp';
@import './cmps/promotion-choice';
@import './cmps/valid-auth-modal';
@import './cmps/game-details';
@import './cmps/chat';

.pre {
  color: white;
  position: fixed;
  left: 0;
}
