.board-cmp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  text-transform: uppercase;

  div {
    display: flex;
    flex-direction: column;
  }

  .pieces {
    width: $td-width * 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    min-height: $td-height;
    span {
      font-size: $td-font-size;
    }
  }

  table {
    border-spacing: 0;
    background-color: #646f40;
    tbody {
      tr {
        display: flex;
        td {
          display: flex;
          justify-content: center;
          align-items: center;
          width: $td-width;
          height: $td-height;
          font-size: $td-font-size;

          &.white {
            background-color: #f0d9b5;
          }
          &.black {
            background-color: #b58863;
          }
          &.selected {
            background-color: #646f40;
          }
          &.mark span {
            pointer-events: none;
            background-color: #646f40;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 2px;
          }

          &.mark {
            cursor: pointer;
          }

          &.eatable {
            border-radius: 50%;
            border: 0.5px solid;
          }
          &.eatable-cell-after-first-two-steps-pawn {
            border-radius: 50%;
            border: 0.5px solid;
          }

          &.castle {
            border-radius: 50%;
          }

          &.red {
            background-color: #9b2d2d !important;
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .board-cmp {
    .pieces {
      width: calc(($td-width - 20px) * 8);
      span {
        font-size: calc($td-font-size - 20px);
      }
    }

    table {
      tbody {
        tr {
          td {
            width: calc($td-width - 20px);
            height: calc($td-height - 20px);
            font-size: calc($td-font-size - 20px);
            &.white {
            }
            &.black {
            }
            &.selected {
            }
            &.mark span {
              width: 15px;
              height: 15px;
            }

            &.mark {
            }

            &.eatable {
            }
            &.eatable-cell-after-first-two-steps-pawn {
            }

            &.castle {
            }

            &.red {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 485px) {
  .board-cmp {
    .pieces {
      width: calc(($td-width - 30px) * 8);
      span {
        font-size: calc($td-font-size - 30px);
      }
    }

    table {
      tbody {
        tr {
          td {
            width: calc($td-width - 30px);
            height: calc($td-height - 30px);
            font-size: calc($td-font-size - 30px);
            &.white {
            }
            &.black {
            }
            &.selected {
            }
            &.mark span {
              width: 10px;
              height: 10px;
            }

            &.mark {
            }

            &.eatable {
            }
            &.eatable-cell-after-first-two-steps-pawn {
            }

            &.castle {
            }

            &.red {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .board-cmp {
    .pieces {
      width: calc(($td-width - 40px) * 8);
      span {
        font-size: calc($td-font-size - 40px);
      }
    }

    table {
      tbody {
        tr {
          td {
            width: calc($td-width - 40px);
            height: calc($td-height - 40px);
            font-size: calc($td-font-size - 40px);
            &.white {
            }
            &.black {
            }
            &.selected {
            }
            &.mark span {
            }

            &.mark {
            }

            &.eatable {
            }
            &.eatable-cell-after-first-two-steps-pawn {
            }

            &.castle {
            }

            &.red {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .board-cmp {
    .pieces {
      width: calc(($td-width - 45px) * 8);
      span {
        font-size: calc($td-font-size - 45px);
      }
    }

    table {
      tbody {
        tr {
          td {
            width: calc($td-width - 45px);
            height: calc($td-height - 45px);
            font-size: calc($td-font-size - 45px);
            &.white {
            }
            &.black {
            }
            &.selected {
            }
            &.mark span {
            }

            &.mark {
            }

            &.eatable {
            }
            &.eatable-cell-after-first-two-steps-pawn {
            }

            &.castle {
            }

            &.red {
            }
          }
        }
      }
    }
  }
}

@media (max-height: 780px) {
  .board-cmp {
    .pieces {
      width: calc(($td-width - 10px) * 8);
      span {
        font-size: calc($td-font-size - 10px);
      }
    }

    table {
      tbody {
        tr {
          td {
            background-color: lightcoral;
            width: calc($td-width - 10px);
            height: calc($td-height - 10px);
            font-size: calc($td-font-size - 10px);
            &.white {
            }
            &.black {
            }
            &.selected {
            }
            &.mark span {
              width: 10px;
              height: 10px;
            }

            &.mark {
            }

            &.eatable {
            }
            &.eatable-cell-after-first-two-steps-pawn {
            }

            &.castle {
            }

            &.red {
            }
          }
        }
      }
    }
  }
}
