.board-cmp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);

  table {
    border-spacing: 0;
    background-color: #646f40;
    tbody {
      tr {
        display: flex;
        td {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          font-size: 60px;

          &.white {
            background-color: #f0d9b5;
          }
          &.black {
            background-color: #b58863;
          }
          &.selected {
            background-color: #646f40;
          }
          &.mark span {
            pointer-events: none;
            background-color: #646f40;
            border-radius: 50%;
            width: 15px;
            height: 15px;
          }

          &.eatable {
            border-radius: 50%;
          }

          &.black.red,
          .white.red {
            background-color: #9b2d2d;
          }
        }
      }
    }
  }
}
