.valid-auth-modal {
  .bg {
    background-color: rgba(0, 0, 0, 0.443);
    inset: 0 0 0 0;
    position: fixed;
  }

  .container {
    background-color: #48463f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: fixed;
    padding: 20px;
    width: 30vw;
    min-height: 10vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h1 {
      margin-bottom: 10px;
    }

    button {
      margin: 5px 0;
    }
  }
}
