// Colors
$clr1: #161512; // bg
$clr2: #bababa; // font
$clr3: #262421; // login form bg
$clr4: #3692e7; // login btn
$clr5: #cdd26a; // mark last step

$td-font-size: 60px;
$td-width: 70px;
$td-height: 70px;
