.home-page {
  min-height: calc(100vh - 60px);
  width: 100vw;
  background-color: $clr1;
  color: $clr2;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    button {
      margin: 5px 0;
    }
  }
}
