.main-page {
  min-height: calc(100vh - 60px);
  width: 100vw;

  display: grid;
  grid-template-areas: 'chat board game-details';
  align-items: center;
  grid-template-columns: 1fr calc($td-width * 8) 1fr;
  gap: 15px;
  padding: 0 15px;

  .wait-container {
    background-color: rgb(107, 105, 102);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    min-height: 30%;
    z-index: 20;
    .share-btn {
      // position: absolute;
      // left: 50%;
      // transform: translate(-50%, 0);
    }

    .is-waiting {
      text-align: center;
      color: $clr2;
      margin: 10px 0;

      span {
        color: $clr4;
        cursor: pointer;
      }
    }
  }
  .msg {
    color: $clr2;
    font-size: 20px;
    position: fixed;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
      background-color: $clr4;
      width: 100%;
      padding: 1rem;
      color: #fff;
      text-transform: uppercase;
      padding: 0.8em 1em;
      border: none;
      cursor: pointer;
      text-align: center;
      -webkit-user-select: none;
      user-select: none;
      white-space: nowrap;
      display: inline-block;
      transition: all 150ms;
      border-radius: 3px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 23%);
      font-weight: 600;
      margin-top: 2rem;
    }
  }
}
